**/__pycache__
/blueberry-bot/plugins/test
guess_sessions.json
/*.tar
config.json
secrets/**
gdguess_data/**
platsearch_cache/**
.env.*
say_config.json
cache/**
config/**
say_config.json.bak
blueberry-bot/plugins/debug_hook/
